<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here is a form</h1>

    <form method="post">
        Initial Velocity (u): <input name="u"> <br><br>

        Final Velocity (v): <input name="v"> <br><br>

        Acceleration (a): <input name="a"> <br><br>

        Time (t): <input name="t"> <br><br>

        Distance (s): <input name="s"> <br><br>

        <button type="submit">submit</button>
    </form>
</body>
</html>